<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <img class="headerIcon" src="{{ feature.fontawesome_icon_name | relative_url }}">
            </span>
        </div>
        <div class="featureText">
            <h3 style="color:whitesmoke;">
                {{ feature.title }}
            </h3>
                <img src="{{ feature.description | relative_url }}" height="200" width="300">
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>