<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <img class="headerIcon" src="{{ feature.fontawesome_icon_name | relative_url }}">
            </span>
        </div>
        <div>
            <h3>
                {{ feature.title }}
            </h3>
                <img src="{{ feature.description | relative_url }}" >
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>