<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <img class="headerIcon" src="{{ feature.fontawesome_icon_name | relative_url }}">
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>

        </div>
        <div>

            <p>
                <img class="headerIcon" src="{{ feature.description | relative_url }}" height="1200" width="1800">
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>